<nav>
  <ul class="list-unstyled text-end">
    <li><a href="/">View All Recipes</a></li>
    <li><a href="/new-recipe">Add New Recipe</a></li>
    <li><a href="/about">About Us</a></li>
  </ul>
</nav>
<hr class="border border-primary border-3 opacity-75" />
