<nav>
  <ul class="list-unstyled d-flex justify-content-end gap-4 text-uppercase">
    <li><a class="text-decoration-none" href="/">View All Recipes</a></li>
    <li>
      <a class="text-decoration-none" href="/new-recipe">Add New Recipe</a>
    </li>
    <li><a class="text-decoration-none" href="/about">About Us</a></li>
  </ul>
</nav>
<hr class="border border-primary border-3 opacity-75" />
